/*remove default styling*/
* {
    margin: 0;
    padding: 0;
}

h1 {
    color: blue;
}

.mainpage--container {
    width: 100vw;
    background-color: rgb(246, 244, 241);
}

.garden--container {
    width: 50vw;
    height: 100px;
    background-color: rgb(244, 255, 127);
}