/* MongoDB server uri */
/* mongodb+srv://Smoose:<password>@cluster0.z8aried.mongodb.net/?retryWrites=true&w=majority */

h1 {
    color: blue;
}

.main-container {
    width: 100vw;
    height: 500px;
    background-color: aquamarine;
}

.garden-container {
    width: 50vw;
    height: 100px;
    background-color: rgb(244, 255, 127);
}